# Account information
BOT_USER=your_xat_username
BOT_APIKEY=your_xat_api_key

# Main configuration
BOT_CHAT=your_chat_name
CHAT_LANGUAGE=all

# Users with special permissions (separated by commas)
BOT_OWNERS=[42,281199,91667566]

# Disabled powers (separated by commas)
DISABLED_POWERS=[29]

# Websocket (do not touch)
WEBSOCKET_URL=wss://bots.xat.com/v2
WEBSOCKET_ORIGIN=https://xat.com

# OpenAI api key
OPENAI_KEY=""